* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-navbar {
    width: 100%;
    background: #0f0f0f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-navbar a {
    color: white;
    margin: 10px 0px 10px 0px;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    width: 300px;
    text-align: center;
}

.container-navbar a:hover {
    background: white;
    color: black;
    transition-duration: 0.5s;
}

@media screen and (max-width: 960px) {
    .container-navbar {
        flex-direction: column;
    }
}